pkgbase = podtui-bin
	pkgdesc = Terminal podcast and audio player with synchronized audio-waveform visualization
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/mikefreno/podtui
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = mpv
	provides = podtui
	conflicts = podtui
	options = !strip
	source_x86_64 = https://github.com/mikefreno/podtui/releases/download/v0.2.0/podtui-linux-x64.tar.gz
	sha256sums_x86_64 = 5c2be309341bda9550ad7669b48d3f46341c687234ddfaa0c84a6a9177f049fc
	source_aarch64 = https://github.com/mikefreno/podtui/releases/download/v0.2.0/podtui-linux-arm64.tar.gz
	sha256sums_aarch64 = c9c22d3a18cd192f89fbd5ff712d3502c4de0cce7550156c6a0d48d76e56e0d5

pkgname = podtui-bin
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/mikefreno/podtui
	pkgdesc = Terminal podcast and audio player with synchronized audio-waveform visualization
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = mpv
	provides = podtui
	conflicts = podtui
	options = !strip
	source_x86_64 = https://github.com/mikefreno/podtui/releases/download/v0.2.0/podtui-linux-x64.tar.gz
	sha256sums_x86_64 = 5c2be309341bda9550ad7669b48d3f46341c687234ddfaa0c84a6a9177f049fc
	source_aarch64 = https://github.com/mikefreno/podtui/releases/download/v0.2.0/podtui-linux-arm64.tar.gz
	sha256sums_aarch64 = c9c22d3a18cd192f89fbd5ff712d3502c4de0cce7550156c6a0d48d76e56e0d5
